/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7149e1;
    --secondary-color: #5e3cc7;
    --background-color: #0d1026;
    --text-color: white;
    --button-bg: #7149e1;
    --button-bg-hover: #5e3cc7;
    --padding: 2rem;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Global rule for all paragraphs */
p {
    line-height: 1.5;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

main {
    padding: 0;
}

section {
    margin: 0;
    position: relative;
}

.full-screen-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.5;
}

.logo {
    width: 250px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: var(--text-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
}

.overlay-text h1 {
    font-size: 4.375rem; /* Equivalent to 70px */
    margin-bottom: 10px;
}

.join-button, .contact-button, .contact-form button {
    background-color: var(--button-bg);
    color: var(--text-color);
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1.125rem; /* Equivalent to 18px */
    font-weight: 600;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline */
    text-align: center; /* Ensure text is centered */
    display: block;
    max-width: 150px; /* Limit the button width on larger screens */
}

.join-button:hover,
.contact-button:hover,
.contact-form button:hover {
    background-color: var(--button-bg-hover);
}

.join-button:focus,
.contact-button:focus,
.contact-form button:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .join-button,
    .contact-button,
    .contact-form button {
        width: 90%;
        max-width: 400px;
        padding: 15px 0;
        margin: 0 auto;
    }

    #about,
    #mentorship,
    #location,
    #contact-form {
        flex-direction: column;
        padding: var(--padding);
    }

    .about-image,
    .mentorship-image,
    .location-image {
        margin-top: 2rem;
        width: 100%;
        height: auto;
    }

    .about-text,
    .mentorship-text,
    .location-text,
    .contact-info {
        text-align: center;
        padding-right: 0;
        width: 100%;
        font-size: 1.5rem;
    }

    .form-row {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo img {
        margin-bottom: 1rem;
    }
}

/* For very small screens */
@media (max-width: 480px) {
    .join-button,
    .contact-button,
    .contact-form button {
        width: 100%;
        max-width: 100%;
        padding: 15px 0;
        margin: 0 auto;
    }

    .overlay-text h1 {
        font-size: 2.5rem;
    }

    .about-text,
    .mentorship-text,
    .location-text,
    .contact-info {
        font-size: 1.2rem;
    }

    .about-text h2,
    .mentorship-text h2,
    .location-text h2,
    .contact-info h2 {
        font-size: 2rem;
    }

    .testimonial-text {
        font-size: 1.5rem;
    }

    .form-row {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo img {
        margin-bottom: 1rem;
    }
}

/* Desktop Styles */
@media (min-width: 769px) {
    .join-button {
        width: auto; /* Keep the original width */
    }
}

#about, #mentorship, #location, #contact-form {
    display: flex;
    align-items: center;
    padding: var(--padding);
    background-color: var(--background-color);
    height: 100vh;
}

.about-text, .mentorship-text, .location-text, .contact-info {
    flex: 1;
    padding-right: 2rem;
    font-size: 2rem;
}

.about-text p, .mentorship-text p, .location-text p, .contact-info p {
    font-size: 1.2rem;
}

.about-text h2, .mentorship-text h2, .location-text h2, .contact-info h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-image, .mentorship-image, .location-image {
    flex: 1;
}

.about-image img, .mentorship-image img {
    width: 100%;
    height: auto;
}

.location-image iframe {
    width: 100%;
    height: 500px;
    border: 0;
}

#core-packages {
    padding: var(--padding);
    background-color: var(--background-color);
}

#core-packages h2 {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.package {
    flex: 1 1 auto;
    max-width: 30%;
    text-align: left;
    background-color: var(--background-color);
}

.package img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.package h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

.package p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

/* Testimonial Section */
#testimonial {
    padding: 10rem;
    background-color: #272952;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-text {
    font-size: 2rem;
    font-style: normal;
    margin: 0 auto;
    line-height: 1.2;
    max-width: 1000px;
    padding: 2rem;
    text-align: center;
}

.small-text {
    font-size: 0.8em;
    display: block;
    margin-top: 15px;
}

/* Contact Form Section */
#contact-form {
    display: flex;
    align-items: flex-start;
    padding: var(--padding);
    background-color: #272952;
    height: 100vh;
    gap: 4rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.contact-info {
    flex: 1;
    padding-left: 2rem;
    order: 2;
}

.contact-form {
    flex: 1;
    order: 1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #3b3d7a;
    color: var(--text-color);
}

.contact-form textarea {
    height: 120px;
    resize: vertical;
}

.contact-form button {
    background-color: var(--button-bg);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0; /* Remove rounded corners */
    margin-top: 10px;
    white-space: nowrap;
}

.contact-form button:hover {
    background-color: var(--button-bg-hover);
}

.contact-form input:invalid,
.contact-form textarea:invalid {
    border: none;
}

.contact-form input:valid,
.contact-form textarea:valid {
    border: none;
}

.form-row .form-group {
    flex: 1;
}

/* reCAPTCHA Styling */
.recaptcha-and-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.g-recaptcha {
    transform: scale(0.85);
    transform-origin: 0 0;
}

.recaptcha-disclaimer {
    font-size: 0.6rem;
    color: #ccc;
    text-align: left;
    margin-top: 10px;
}

.recaptcha-disclaimer a {
    color: var(--button-bg);
    text-decoration: none;
}

.recaptcha-disclaimer a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #272952;
    color: var(--text-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-text {
    font-size: 0.8rem;
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
    }

    .text-center {
        text-align: center;
    }
    
    .about-text, .mentorship-text, .location-text, .contact-info {
        font-size: 1.5rem;
    }

    .overlay-text h1 {
        font-size: 3rem;
    }

    .form-row {
        flex-direction: column;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo img {
        margin-bottom: 1rem;
    }
}

@media (max-width: 480px) {
    .overlay-text h1 {
        font-size: 2.5rem;
    }

    .about-text, .mentorship-text, .location-text, .contact-info {
        font-size: 1.2rem;
    }

    .about-text h2, .mentorship-text h2, .location-text h2, .contact-info h2 {
        font-size: 2rem;
    }

    .testimonial-text {
        font-size: 1.5rem;
    }

    .form-row {
        flex-direction: column;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo img {
        margin-bottom: 1rem;
    }
}